/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  min-height: 60vh;
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: url("/static/img/landing.jpg") no-repeat center top;
  background-size: cover;
  color: white;
}

.paragraphsContainer {
  width: 100%;
  min-height: 40vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.paragraph {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.5;
  max-width: 800px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
}

.paragraph h1 {
  text-align: center;
}

.paragraph .highlight {
  color: var(--ifm-color-primary);
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}
